body{
    background-color: #f6f5f5;
    margin: 5px;
    padding left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 60;
}
li{
    float: right;
}
li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;

}
.ironman{
    color: lightslategrey;
}
.half-width{
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}
.link-button{
    background-image: linear-gradient(45deg,salmon,tomato);
    text-decoration: none;
    border-radius: 20px 20px;
    font-size: 30px;
    color:white;
}
.half-width img{
    float: right;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.dream-area img{
    float: left;
}
.container{
    margin-right: 20px;
    padding-bottom: 30px;
}
.tony{
    padding-bottom: 20px;
}
.steve-rogers img{
    width: 30%;
    
}
.steve-rogers{
    text-align: center;
    
}
.ant-man{
    float: left;
    float: right;
}
.diana img{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(45deg,white,blue);
    
}
.diana{
    text-align: center;
}
.icon-bar img{
    width: 5%;
}
.icon-bar{
    text-align: center;
}